* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #393939;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  padding: 5px;
}

.menu_container {
  width: 100vw;
  height: 125px;
  background-color: #ff5a09;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h_align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.v_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.menu {
  width: 75vw;
  font-size: 2.5em;
  display: flex;
  justify-content: space-around;
}

.menu > a > div {
  height: 10vh;
  padding: 25px;
  justify-content: center;
  text-align: center;
}

.menu > a:hover {
  background-color: rgba(1.0, 1.0, 1.0, 0.3);
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.main_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .main_container {
    width: 100%;
    padding: 10px;
  }

  .menu {
    font-size: 1.5em;
  }
}

.form_div {
  margin-top: 5px;
  padding: 5px;
}

.form_div label {
  color: lightgrey;
}

#search_form > * {
  margin-top: 5px;
}

input[type=text] {
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  font-size: 1.3em;
}

form > label {
  font-size: 1.2em;
  padding: 5px;
}

form > button:hover {
  cursor: pointer;
}

#cart {
  background-color: #fefefe;
}

.cart_item {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-top: 5px;
}

.cart_item_name {
  font-size: 1.2em;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.result_div {
  border: 1px solid lightgrey;
  background-color: white;
  color: black;
  padding: 5px;
  margin-top: 5px;
  width: 45%;
  min-height: 125px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.result_name_div {
    border-bottom: 1px solid darkgrey;
}

.result_name {
  font-size: 1.3em;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


@media only screen and (max-width: 650px) {
  .info {
    flex-direction: column;
  }
}

button {
  padding: 5px;
  color: white;
  font-size: 1.15em;
  background-color: #ff5a09;
}

.info button:hover {
  cursor: pointer;
}

.info button:disabled {
  background-color: rgba(1.0, 1.0, 1.0, 0.3);
}

.info button:disabled:hover {
  cursor: not-allowed;
}

.info p {
  font-size: 1.1em;
}

.info div {
  margin: 5px;
}

.links {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.links a {
  background-color: #ff5a09;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 1.2em;
  width: 30%;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.documents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.document {
  padding: 5px;
  background-color: lightgrey;
  width: 30%;
  margin-top: 10px;
  word-wrap: break-word;
}

.document > p {
  margin-top: 3px;
}

.order {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.order input {
  padding: 5px;
  border-radius: 3px;
}

.order label {
  color: white;
}
